//fonts
$title-font: 'Bungee', cursive;
$text-font: 'Lato', sans-serif;


//bootswatch
@import "../../node_modules/bootswatch/dist/solar/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/solar/bootswatch";


//custom CSS

body {
    font-family: $text-font;
    font-size: medium;
}

nav {
    font-size: large;
    .navbar-brand {
        font-family: $title-font;
        font-size: larger;
    }
    .navbar-collapse {
        font-weight: bold;
    }
}