<footer class="sticky-bottom">
    <ul class="footer-links">
        <li><a href="{{ path('about_us') }}">About Us</a></li>
        <li>Made by <a href="https://github.com/justucru" target="_blank">Justine Pignet</a></li>
        <li><a href="#">Back to top</a></li>
    </ul>
    <div class="footer-socmed">
        <a href="#" target="_blank" title="link towards the Wild Circus Facebook page"><img src="{{ asset('img/socmed/Facebook.png') }}" alt="Facebook logo" class="footerImg"></a>
        <a href="#" target="_blank" title="link towards the Wild Circus Instragram page"><img src="{{ asset('img/socmed/Instagram.png') }}" alt="Instagram logo" class="footerImg"></a>
        <a href="#" target="_blank" title="link towards the Wild Circus Twitter page"><img src="{{ asset('img/socmed/Twitter.png') }}" alt="Twitter logo" class="footerImg"></a>
    </div>
</footer>