<footer class="sticky-bottom">
    <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="{{ path('app_login') }}">Admin</a></li>
        <small><li>Made by <a href="#">Justine Pignet</a></li></small>
    </ul>
    <div class="footer-socmed">
        <a href="#" target="_blank" title="link towards the Wild Circus Facebook page"><img src="{{ asset('img/socmed/Facebook.png') }}" alt="Facebook logo" class="footerImg"></a>
        <a href="#" target="_blank" title="link towards the Wild Circus Instragram page"><img src="{{ asset('img/socmed/Instagram.png') }}" alt="Instagram logo" class="footerImg"></a>
        <a href="#" target="_blank" title="link towards the Wild Circus Twitter page"><img src="{{ asset('img/socmed/Twitter.png') }}" alt="Twitter logo" class="footerImg"></a>
    </div>
</footer>