{% extends 'base.html.twig' %}

{% block title %}Edit Performer{% endblock %}

{% block body %}
    <h1>Edit Performer</h1>

    {{ include('performer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('performer_index') }}">back to list</a>

    {{ include('performer/_delete_form.html.twig') }}
{% endblock %}
