{% extends 'base.html.twig' %}

{% block title %}New Performer{% endblock %}

{% block body %}
    <h1>Create new Performer</h1>

    {{ include('performer/_form.html.twig') }}

    <a href="{{ path('performer_index') }}">back to list</a>
{% endblock %}
